
textarea {
	border: 1px solid black;
	width: 100%;
	height: 300px;
	background-color: #EEEEEE;
	margin-bottom: 20px
}

div.midTtitle {
	background-color: #39F;
	padding: 5px;
	font-size: 16px;
	color: white;
	font-weight: bold;
}

