body {
	margin-bottom: 30px;
}

.verdana10 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.verdana12 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.verdana10width {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	width: inherit;
}
* {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
}
.tablename {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	background-color: #0000FF;
}

.tablename a {
	color: white;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}

#mysqlform {
	background-color: #FF0000;
	display: inline;
}
.verdana12branco {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}
.branco {
	color: #FFFFFF;
}
.dragX { /* deprecated for jquery */
	position: absolute;
	visibility: hidden;
	border: 2px solid #0000FF;
	background-color: #FFFFFF;
}

#logWin, .jdraggable {
	position: absolute;
	visibility: hidden;
	border: 2px solid #0000FF;
	background-color: #FFFFFF;
}

#logWin {
	top:50px;
	left:200px
}

.alertWin {
	position: absolute;
	top: 50px;
	left: 50px;
	border: 1px solid #000000;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	background-color: #FF0000;
	padding: 5px 5px 5px 5px;
	color: #FFFFFF;
	visibility: hidden;
}

.logWin {
	border: 1px solid #000000;
	padding: 5px 5px 5px 5px;
}

#insertFormWin {
	left: 400px;
	top: 20px;
}

#fieldCtxMenu {
	border: 1px solid #000000;
	visibility: hidden;
	left: 200px;
	top: 100px;
}

.hiddenVal {
	display: none;
}

#fieldCtxMenuFormBox {
	display: none;
}

#fieldCtxMenuTitle {
	display: inline;
}

#insertFormWin {
	display: none;
	position: absolute;
	top: 30px;
	left: 100px;
	border: 1px solid #000000;
	visibility: visible;
}

#formFilterWin {
	display: none;
	position: absolute;
	top: 50px;
	left: 50px;
	border: 1px solid #000000;
	visibility: visible;
}

table.formTable input, table.formTable textarea, table.formTable select {
	border: 1px solid black;
}

table.formTable table {
	width: 100%;
}

.insertData-table input, .insertData-table textarea, .insertData-table select {
	border: 1px solid black;
}

#headbar:active {
    cursor: move;
}

.shadow {
	box-shadow: 5px 10px #888888;
}
